.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-gap: 20px;
}

.product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.cart-container h1{
    margin: 0px;
}


.btn-proceed{
    width: 90%;
    height: 45px;
    border-radius: 6px;
    margin-top: 10px;
    background-color: #FF9900;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
}